<div class="container">
  <div class="card">
      <img class="card-img-top" src="{{phones.imagen}}" alt="Card image">
      <div class="card-body">
          <h4 class="card-title">Marca:</h4>
          <p class="card-text">{{phones.marca}}</p>
          <h4 class="card-title">Precio:</h4>
          <p class="card-text">{{phones.precio}}</p>
          <h4 class="card-title">Color:</h4>
          <p class="card-text">{{phones.color}}</p>
          <h4 class="card-title">Almacenamiento:</h4>
          <p class="card-text">{{phones.almacenamiento}}</p>
          <h4 class="card-title">Color:</h4>
          <p class="card-text">{{phones.Color}}</p>
         
          <a href="productos" class="btn">Regresar</a>
      </div>
  </div>
</div>
