<div class="container text-center my-5">
    <h2 class="display-4">¡Ofertas Imperdibles en Smartphones!</h2>
    <p class="lead">
      Descubre nuestra selección exclusiva de smartphones a precios inigualables. 
      No te pierdas la oportunidad de adquirir la última tecnología con descuentos especiales.
    </p>
    <p>
      Desde potentes cámaras hasta almacenamiento amplio, cada uno de nuestros dispositivos 
      está diseñado para satisfacer tus necesidades diarias y brindarte la mejor experiencia.
    </p>
    <p>
      ¡Aprovecha estas ofertas limitadas y encuentra el smartphone perfecto para ti!
    </p>
    <a href="/productos" class="btn btn-primary btn-lg">Ver Ofertas</a>
  </div>
  
<app-tabla-inicio></app-tabla-inicio>
